@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: center;
    gap: 400px;
    padding: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.logo{
    height: 60px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 4px;
}

.nav-items{
    display: flex;
    gap: 65px;
    margin: 20px;
}

.item{
    font-size: 20px;
    font-weight: 100;
    font-family:Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
}

.loginbtn{
    cursor: pointer;
    font-size: 20px;
    height: 40px;
    border: none;
    background: transparent;
    width: 80px;
}

.loginbtn:hover,
.item:hover{
    color: orange;
}

.shimmer-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 115px;
}
.shimmer-card{
    padding: 30px;
    width: calc(33.33% - 150px);
    margin: auto;
}

.shimmer-header{
    background-color: #f0f0f0;
    height: 10px;
    width: 130px;
    margin: 9px;
}
.shimmer-img{
    background-color: #f0f0f0;
    height: 100px;
    width: 230px;
    margin: 5px;
}
.shimmer-body{
    background-color: #f0f0f0;
    height: 20px;
    width: 110px;
    margin: 5px;
}

.shimmer-footer{
    background-color: #f0f0f0;
    height: 20px;
    width: 160px; 
    margin: 5px; 
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background-color: rgb(252, 250, 250);
}

.bodyFunc{
    display: flex;
    gap: 60px;
    margin: 9px
}

.bodyFunc > button{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: 1px solid #f0f0f0;
    background-color: white;
    font-size: 15px;
    padding: 2px;
    cursor: pointer;
}

.bodyFunc > button:hover{
    background-color: #f0f0f0;
}

.bodyFunc > input:hover{
    border: 2px solid #f0f0f0;
}

.bodyFunc > input{
    height: 40px;
    width: 170px;
    border-radius: 10px;
    border: 1px solid #f0f0f0;
    background-color: white;
    font-size: 14px;
    padding: 1px;
    cursor: pointer;
}

.restaurant-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.restaurant-card{
    /* width: calc(25% - 15px); */
    width: 500px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.res-img{
    height: 180px;
    width: 290px;
    border-radius: 15px;
    margin: 5px;
}

.restaurant-content{
    padding: 4px;
    margin: 5px;
}

.restaurant-card:hover{
    border: 3px solid #f0f0f0;
    background-color: white;
    border-radius: 5px;
    transform: scale(0.9);
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    gap:7px;
    border: 1px solid black;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    
}
.resName{
    font-size: 25px;
    margin-left: -500px;

}
.menuRes{
    margin: 30px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 700px;
    font-size: 23px;
    box-shadow: 10px 15px 0px 10px #f0f0f0, -10px 15px 0 10px #f0f0f0, 0 15px 0 10px #f0f0f0;
    
}

.menuItem{
    margin: 10px;
    overflow: hidden;
}

.category{
    margin: 20px;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    background-color: #f0f0f0;
}
.arrow {
    transition: transform 0.3s ease;
}

.collapsed .arrow {
    transform: rotateX(180deg); /* Rotate arrow when collapsed */
}

.menuItems {
    padding: 10px;
    transition: height 0.3s ease; /* Smooth transition for height change */
    height: auto; /* Ensure content is initially visible */
}

.collapsed .menuItems {
    height: 0; /* Collapse content when collapsed */
    padding: 0; /* Remove padding when collapsed */
    overflow: hidden; /* Hide content overflow when collapsed */
}
  

.itemContent{
    padding: 3px;
}

.content{
    padding: 2px;  
}

.itemImg{
    height: 120px;
    width: 150px;
    border-radius: 10px;
}

.itemImgcontainer{
    height: 120px;
    width: 150px;
    border-radius: 10px;
}

.resItem{
    display: flex;
    justify-content: space-between;
    height:200px;
    width: 750px;
    font-weight: lighter;
    padding: 4px;
    margin: 15px;
    cursor: pointer;
    gap: 10px;
}

.resItem:hover{
    background-color: #f0f0f0;
}

.itemLink {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
  }
  
.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;;
}

.login-form{
    margin: 20px;
    padding: 20px;
    
}

.email,
.password{
    height: 40px;
    width: 400px;
    margin: 30px;
    padding: 5px;
    border-radius: 10px;

}

.submit{
  height: 40px;
  width: 70px;
  background-color: rgb(43, 138, 239);
  border-radius: 10px;
  margin-left: 200px;
  margin-top: 20px;
}

.input-error{
    border-color: red;
}

.error{
    color: rgb(250, 0, 0);
    font-size: medium;
    font-weight: 600;
    margin-left: 50px;
}

.comp{
    border: 1px solid black;
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 300px;
}

